.footer-widgets {
  & > .wrap {
    @extend %site-inner;
    display: grid;
    grid-row-gap: 4rem;
    margin-top: 6rem;
  }
}

.footer-widgets-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;

  * {
    margin: 0 auto;
  }
}

#media_image-2 {
  .widget-wrap {
    //transform: rotate(-55deg);

    @include standard {
      //transform: rotate(0);
      overflow: hidden;
      height: 270px;
    }
  }
}
