.site-inner {
  @extend %site-inner;
  padding-top: 4rem; 
  padding-bottom: 4rem;
  min-height: calc(100vh - 450px);
}


// Alignment within parent containers
/*.entry-content .alignfull,
.entry-content .alignwide {
	&.has-background,
  &.wp-block-cover {
		&  > :not(.alignfull):not(.alignwide):not(img):not(video) {
			max-width: calc( ( 900rem + 30rem ) / 16);
			padding-left: 15px;
			padding-right: 15px;
			margin-left: auto; 
			margin-right: auto;
		}
	}
}*/

// Block spacing
/*.entry-content > {
  // margins for regular blocks
  .wp-block-columns:not(.has-background),
  .wp-block-group:not(.has-background),
  .wp-block-media-text,
  .latest-news-block {
    margin-top: $block-spacer;
    margin-bottom: $block-spacer;

    &:first-child {
      margin-top: 0;
    }

    //.alignfull within standard container
    &  .alignfull {
      padding-top: $block-spacer;
      padding-bottom: $block-spacer;
    }

    // exceptions

    // test
    //* {border: 1px solid rgba(255, 0, 0, 0.25)!important;}
  }

  // padding for full blocks
  .wp-block-columns.has-background,
  .wp-block-group.has-background {
    padding-top: $block-spacer;
    padding-bottom: $block-spacer;

    &:first-child {
      padding-top: 4rem;
    }

    // exceptions

    // test
    //* {box-shadow: inset 1px 1px 0 rgba(0, 0, 255, 0.25)!important;}
  }
}*/