<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="title" property="og:title" content="{{ site.title }}">
<meta property="og:type" content="website">
<meta name="image" property="og:image" content="{{ site.baseurl }}/assets/images/cover.png">
<meta name="description" property="og:description" content="{{ site.description }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✌️</text></svg>">
<script
  src="https://beamanalytics.b-cdn.net/beam.min.js"
  data-token="cb02408e-9deb-46b6-a6c2-b2dbf831161e"
  async
>
</script>