/* *********************************************************************
 * Variables
 ********************************************************************* */

:root {
  --gap: clamp(1rem, 4vw, 2rem);
  --gap-row: clamp(2rem, 4vw, 2rem);
  --height: clamp(1rem, 8vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(clamp(30rem, 60vw, 70rem), 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 12vw);
  --content-inset: min(clamp(30rem, 60vw, 70rem), 100% - var(--gap));
  --content-half-inset: calc((var(--content-inset) - var(--gap)) / 2);
  --p-0: 0;
  --p-1: var(--height);
  --p-2: calc(var(--height) * 2);
  --p-3: calc(var(--height) * 3);
  --step--6: clamp(0.5549rem, 0.7774rem + -0.2871vw, 0.72rem);
  --step--5: clamp(0.6243rem, 0.8183rem + -0.2504vw, 0.7683rem);
  --step--4: clamp(0.7023rem, 0.8606rem + -0.2042vw, 0.8197rem);
  --step--3: clamp(0.7901rem, 0.9041rem + -0.147vw, 0.8747rem);
  --step--2: clamp(0.8889rem, 0.9487rem + -0.0772vw, 0.9333rem);
  --step--1: clamp(0.9958rem, 0.9943rem + 0.0073vw, 1rem);
  --step-0: clamp(1.0625rem, 1.0408rem + 0.1087vw, 1.125rem);
  --step-1: clamp(1.1337rem, 1.0878rem + 0.2295vw, 1.2656rem);
  --step-2: clamp(1.2096rem, 1.1351rem + 0.3725vw, 1.4238rem);
  --step-3: clamp(1.2907rem, 1.1825rem + 0.5411vw, 1.6018rem);
  --step-4: clamp(1.3772rem, 1.2294rem + 0.7389vw, 1.802rem);
  --step-5: clamp(1.4694rem, 1.2754rem + 0.9702vw, 2.0273rem);
  --lightness-factor: 15%;
  --mushroom-h: 34;
  --mushroom-s: 40%;
  --mushroom-l: 92%;
  --mushroom: var(--mushroom-h) var(--mushroom-s) var(--mushroom-l);
  --forest-h: 172;
  --forest-s: 86%;
  --forest-l: 8%;
  --forest: var(--forest-h) var(--forest-s) var(--forest-l);
  --tidepool-h: 171;
  --tidepool-s: 100%;
  --tidepool-l: 23%;
  --tidepool: var(--tidepool-h) var(--tidepool-s) var(--tidepool-l);
  --tidepool-oklch: 49% 0.11 179.26;
  --tidepool-light: var(--tidepool-h) var(--tidepool-s) calc(var(--tidepool-l) + var(--lightness-factor));
  --tidepool-dark: var(--tidepool-h) var(--tidepool-s) calc(var(--tidepool-l) - var(--lightness-factor));
  --neon-h: 79;
  --neon-s: 100%;
  --neon-l: 69%;
  --neon: var(--neon-h) var(--neon-s) var(--neon-l);
  --neon-light: var(--neon-h) var(--neon-s) calc(var(--neon-l) + var(--lightness-factor));
  --neon-dark: var(--neon-h) var(--neon-s) calc(var(--neon-l) - var(--lightness-factor));
  --honeydew-h: 87;
  --honeydew-s: 70%;
  --honeydew-l: 75%;
  --honeydew: var(--honeydew-h) var(--honeydew-s) var(--honeydew-l);
  --honeydew-light: var(--honeydew-h) var(--honeydew-s) calc(var(--honeydew-l) + var(--lightness-factor));
  --honeydew-dark: var(--honeydew-h) var(--honeydew-s) calc(var(--honeydew-l) - var(--lightness-factor));
  --aqua-h: 174;
  --aqua-s: 68%;
  --aqua-l: 74%;
  --aqua: var(--aqua-h) var(--aqua-s) var(--aqua-l);
  --aqua-light: var(--aqua-h) var(--aqua-s) calc(var(--aqua-l) + var(--lightness-factor));
  --aqua-dark: var(--aqua-h) var(--aqua-s) calc(var(--aqua-l) - var(--lightness-factor));
  --iris-h: 266;
  --iris-s: 55%;
  --iris-l: 87%;
  --iris: var(--iris-h) var(--iris-s) var(--iris-l);
  --iris-light: var(--iris-h) var(--iris-s) calc(var(--iris-l) + var(--lightness-factor));
  --iris-dark: var(--iris-h) var(--iris-s) calc(var(--iris-l) - var(--lightness-factor));
  --coral-h: 0;
  --coral-s: 100%;
  --coral-l: 72%;
  --coral: var(--coral-h) var(--coral-s) var(--coral-l);
  --coral-oklch: 73.18% 0.1945 22.64;
  --coral-light: var(--coral-h) var(--coral-s) calc(var(--coral-l) + var(--lightness-factor));
  --coral-dark: var(--coral-h) var(--coral-s) calc(var(--coral-l) - var(--lightness-factor));
  --marmalade-h: 26;
  --marmalade-s: 85%;
  --marmalade-l: 73%;
  --marmalade: var(--marmalade-h) var(--marmalade-s) var(--marmalade-l);
  --marmalade-oklch: 82.83% 0.1288 58.42;
  --marmalade-light: var(--marmalade-h) var(--marmalade-s) calc(var(--marmalade-l) + var(--lightness-factor));
  --marmalade-dark: var(--marmalade-h) var(--marmalade-s) calc(var(--marmalade-l) - var(--lightness-factor));
}

/* @link https://utopia.fyi/type/calculator?c=320,17,1.067,1240,18,1.125,5,6,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

/* *********************************************************************
 * Global Styles
 ********************************************************************* */

 *,
 *:before,
 *:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 
 body {
   min-height: 100vh;
   font-family: "Inria Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   font-weight: 300;
   line-height: 1.5;
   font-size: var(--step-0);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-smooth: never;
 }
 
 main {overflow-x: hidden;}
 
 img {display: block;}
 
 .page-portfolio-item img {max-width: 100%;}
 
 figure {margin: 0;}
 
 figcaption {font-size: var(--step--2);}
 
 table {border-collapse: collapse;}
 
 tr > * {padding: .25rem;}
 
 th {
  background: hsl(var(--marmalade) / .25);
  text-align: left;
 }
 
 .center {text-align: center;}
 
 @media (min-width: 768px) {
   .right {text-align: right;}
 }
 
 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   border: 0;
 }
 
 span.blockspam {display: none;}
 
 .scroll-reveal {
   opacity: 1;
   transform: translateY(0);
 }
 
 .draggable {cursor: grab;}

/* *********************************************************************
 * Grid System
 ********************************************************************* */

.grid-breakout {
  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}

.grid-breakout-feature-left {
  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content-inset) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end full-end];
}

.grid-breakout-feature-right {
  display: grid;
  grid-template-columns:
    [full-start feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content-inset) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}

.grid-breakout-portfolio-hero {
  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content-half-inset) var(--gap) var(--content-half-inset) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end full-end];
}

/* Column assignments */

.grid-breakout > * {
  grid-column: content;
}

.full {
  grid-column: full;
}

.feature {
  grid-column: feature;
}

.popout {
  grid-column: popout;
  background-color: hsl(var(--marmalade) / .25);
  padding: var(--gap) 0;
}

.content {
  grid-column: content;
}

.feature-left {
  grid-column: full-start / feature-end;
}

.feature-right {
  grid-column: feature-start / full-end;
}

.portfolio-left {
  grid-column: feature-start / feature-end;
  grid-row-gap: var(--height);
}

@media (min-width: 768px) {
  .portfolio-left {
    grid-column: full-start / feature-end;
    align-items: center;
  }
}

/* Inner grid */

.col {
  display: grid;
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap-row);
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-rows: minmax(var(--height), auto);
}

.col.grid-2d{
  grid-auto-rows: minmax(min-content, max-content);
}

.col.grid-hero {
  grid-column-gap: calc(var(--gap) / 4) var(--gap);
  grid-row-gap: var(--gap-row);
}

.grid-center {align-items: center;}

.col > * {
  grid-column-end: span var(--col-span);
}

.col-1-4,
.col-2-4,
.col-3-4,
.col-4-4,
.col-5-4,
.col-6-4,
.col-7-4,
.col-1-3,
.col-2-3,
.col-3-3,
.col-4-3,
.col-5-3,
.col-1-2,
.col-2-2,
.col-1-1 {
  grid-column: span 12;
}

@media (min-width: 577px) and (max-width: 767px) {
  .t-span-12 {
    grid-column: span 12;
  }
}

@media (max-width: 767px) {
  .m-span-6 {
    grid-column: span 6;
  }
}

@media (min-width: 577px) {
  .feature .col-1-4,
  .feature .col-2-4,
  .feature .col-3-4,
  .feature .col-4-4,
  .feature .col-1-3,
  .feature .col-2-3,
  .feature .col-3-3 {
    grid-column: span 6;
  }
  
  .feature .col-1-1,
  .feature .col-1-2,
  .feature .col-2-2,
  .feature .col-5-4,
  .feature .col-6-4,
  .feature .col-7-4,
  .feature .col-4-3,
  .feature .col-5-3,
  .feature .t-span-12 {
    grid-column: span 12;
  }
}

@media (min-width: 768px) {
  .content .col-1-4,
  .content .col-2-4,
  .content .col-3-4,
  .content .col-4-4,
  .content .col-1-3,
  .content .col-2-3,
  .content .col-3-3 {
    grid-column: span 6;
  }
  
  .content .col-1-2,
  .content .col-2-2,
  .content .col-1-1,
  .content .col-5-4,
  .content .col-6-4,
  .content .col-7-4,
  .content .col-4-3,
  .content .col-5-3,
  .content .t-span-12 {
    grid-column: span 12;
  }

  .feature .col {
    grid-auto-rows: var(--height);
  }
  
  .feature .col.grid-2d {
    grid-auto-rows: minmax(min-content, max-content);
  }
  
  .feature .col-1-4 {
    grid-column: 1 / span 3;
  }
  
  .feature .col-2-4 {
    grid-column: 4 / span 3;
  }
  
  .feature .col-3-4 {
    grid-column: 7 / span 3;
  }
  
  .feature .col-4-4 {
    grid-column: 10 / span 3;
  }
  
  .feature .col-5-4 {
    grid-column: 4 / span 6;
  }
  
  .feature .col-6-4 {
    grid-column: 1 / span 9;
  }
  
  .feature .col-7-4 {
    grid-column: 4 / span 9;
  }
  
  .feature .col-1-3 {
    grid-column: 1 / span 4;
  }
  
  .feature .col-2-3 {
    grid-column: 5 / span 4;
  }
  
  .feature .col-3-3 {
    grid-column: 9 / span 4;
  }
  
  .feature .col-4-3 {
    grid-column: 1 / span 8;
  }
  
  .feature .col-5-3 {
    grid-column: 5 / span 8;
  }
  
  .feature .col-1-2 {
    grid-column: 1 / span 6;
  }
  
  .feature .col-2-2 {
    grid-column: 7 / span 6;
  }
  
  .feature .col-1-1 {
    grid-column: 1 / span 12;
  }
  
  .feature .row-start-1 { grid-row-start: 1; }
  .feature .row-start-2 { grid-row-start: 2; }
  .feature .row-start-3 { grid-row-start: 3; }
  .feature .row-start-4 { grid-row-start: 4; }
  .feature .row-start-5 { grid-row-start: 5; }
  .feature .row-start-6 { grid-row-start: 6; }
  .feature .row-start-7 { grid-row-start: 7; }
  .feature .row-start-8 { grid-row-start: 8; }
  .feature .row-start-9 { grid-row-start: 9; }
  .feature .row-start-10 { grid-row-start: 10; }
  .feature .row-start-11 { grid-row-start: 11; }
  .feature .row-start-12 { grid-row-start: 12; }
  .feature .row-end-2 { grid-row-end: 2; }
  .feature .row-end-3 { grid-row-end: 3; }
  .feature .row-end-4 { grid-row-end: 4; }
  .feature .row-end-5 { grid-row-end: 5; }
  .feature .row-end-6 { grid-row-end: 6; }
  .feature .row-end-7 { grid-row-end: 7; }
  .feature .row-end-8 { grid-row-end: 8; }
  .feature .row-end-9 { grid-row-end: 9; }
  .feature .row-end-10 { grid-row-end: 10; }
  .feature .row-end-11 { grid-row-end: 11; }
  .feature .row-end-12 { grid-row-end: 12; }
  .feature .row-end-13 { grid-row-end: 13; }
  .feature .row-end-14 { grid-row-end: 14; }
}

@media (min-width: 1024px) {
  .content .col {
    grid-auto-rows: var(--height);
  }
  
  .content .col.grid-2d {
    grid-auto-rows: minmax(min-content, max-content);
  }
  
  .content .col.grid-hero {
    grid-auto-rows: clamp(1rem, 5vw, 4rem);
  }
  
  .content .col-1-4 {
    grid-column: 1 / span 3;
  }
  
  .content .col-2-4 {
    grid-column: 4 / span 3;
  }
  
  .content .col-3-4 {
    grid-column: 7 / span 3;
  }
  
  .content .col-4-4 {
    grid-column: 10 / span 3;
  }
  
  .content .col-5-4 {
    grid-column: 4 / span 6;
  }
  
  .content .col-6-4 {
    grid-column: 1 / span 9;
  }
  
  .content .col-7-4 {
    grid-column: 4 / span 9;
  }
  
  .content .col-1-3 {
    grid-column: 1 / span 4;
  }
  
  .content .col-2-3 {
    grid-column: 5 / span 4;
  }
  
  .content .col-3-3 {
    grid-column: 9 / span 4;
  }
  
  .content .col-4-3 {
    grid-column: 1 / span 8;
  }
  
  .content .col-5-3 {
    grid-column: 5 / span 8;
  }
  
  .content .col-1-2 {
    grid-column: 1 / span 6;
  }
  
  .content .col-2-2 {
    grid-column: 7 / span 6;
  }
  
  .content .col-1-1 {
    grid-column: 1 / span 12;
  }
  
  .content .row-start-1 { grid-row-start: 1; }
  .content .row-start-2 { grid-row-start: 2; }
  .content .row-start-3 { grid-row-start: 3; }
  .content .row-start-4 { grid-row-start: 4; }
  .content .row-start-5 { grid-row-start: 5; }
  .content .row-start-6 { grid-row-start: 6; }
  .content .row-start-7 { grid-row-start: 7; }
  .content .row-start-8 { grid-row-start: 8; }
  .content .row-start-9 { grid-row-start: 9; }
  .content .row-start-10 { grid-row-start: 10; }
  .content .row-start-11 { grid-row-start: 11; }
  .content .row-start-12 { grid-row-start: 12; }
  .content .row-end-2 { grid-row-end: 2; }
  .content .row-end-3 { grid-row-end: 3; }
  .content .row-end-4 { grid-row-end: 4; }
  .content .row-end-5 { grid-row-end: 5; }
  .content .row-end-6 { grid-row-end: 6; }
  .content .row-end-7 { grid-row-end: 7; }
  .content .row-end-8 { grid-row-end: 8; }
  .content .row-end-9 { grid-row-end: 9; }
  .content .row-end-10 { grid-row-end: 10; }
  .content .row-end-11 { grid-row-end: 11; }
  .content .row-end-12 { grid-row-end: 12; }
  .content .row-end-13 { grid-row-end: 13; }
  .content .row-end-14 { grid-row-end: 14; }
}

/* *********************************************************************
 * Layout
 ********************************************************************* */

 /* Padding */

.p-0 {
  padding-top: var(--p-0); 
  padding-bottom: var(--p-0);
}

.p-1 {
  padding-top: var(--p-1);
  padding-bottom: var(--p-1);

}

.p-2 {
  padding-top: var(--p-2);
  padding-bottom: var(--p-2);
}

.p-3 { 
  padding-top: var(--p-3);
  padding-bottom: var(--p-3);
}

.p-4 {
  padding-top: var(--p-4);
  padding-bottom: var(--p-4);
}

.p-s-1 {
  padding-left: var(--gap);
  padding-right: var(--gap);
}

/* Content margins */

ul,
ol {
  margin: calc(var(--height) / 2) 0;
  list-style-position: inside;
}

ul:first-child,
ol:first-child {
  margin-top: 0;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

@media (min-width: 577px) {
  ul,
  ol {
    list-style-position: outisde;
  }
}

/* *********************************************************************
 * Semantics
 ********************************************************************* */

main > section {
  position: relative;
  padding: var(--height) 0;
}

main > section.popout {
  margin: var(--height) 0;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 1rem;
}

nav a {text-decoration: none;}

.page-home nav a.headline {color: hsl(var(--neon));}

.page-home nav .headline:after {
  content: " is";
  text-transform: lowercase;
  color: hsl(var(--mushroom) / 1);
}

nav .headline {
  position: relative;
  text-decoration: none;
  z-index: 2;
  transition: .25s ease-in-out;
}

nav .headline:hover:before {
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: left;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%' height='100%'%3E%3Cdefs%3E%3Cstyle%3E .zigzag%7B animation:zigzag 1s ease-in-out infinite alternate; animation-delay:-0.25s; stroke:rgb(10,115,100); stroke-width:1.5; stroke-linecap:square; %7D @keyframes zigzag%7B to%7B d:path('M 0 40 Q 20 42.5 40 40 Q 60 37.5 80 40'); %7D %7D %3C/style%3E%3C/defs%3E%3Cpattern id='zigzagPattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='zigzag' d='M 0 40 Q 20 37.5 40 40 Q 60 42.5 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%' height='100%' fill='url(%23zigzagPattern)'%3E%3C/rect%3E%3C/svg%3E");
  background-size: 80px 80px;
  background-position: 0px 50%;
  animation: wiggling 2s linear infinite;
  transform: scaleX(1);
}

.page-home nav .headline:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%' height='100%'%3E%3Cdefs%3E%3Cstyle%3E .zigzag%7B animation:zigzag 1s ease-in-out infinite alternate; animation-delay:-0.25s; stroke:rgb(243,236,227); stroke-width:1.5; stroke-linecap:square; %7D @keyframes zigzag%7B to%7B d:path('M 0 40 Q 20 42.5 40 40 Q 60 37.5 80 40'); %7D %7D %3C/style%3E%3C/defs%3E%3Cpattern id='zigzagPattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='zigzag' d='M 0 40 Q 20 37.5 40 40 Q 60 42.5 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%' height='100%' fill='url(%23zigzagPattern)'%3E%3C/rect%3E%3C/svg%3E");
}

nav .headline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0;
  bottom: -45px;
  z-index: -1;
  transform: scaleX(0);
  transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
  transform-origin: right;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%' height='100%'%3E%3Cdefs%3E%3Cstyle%3E .zigzag%7B stroke:rgb(10,115,100); stroke-width:1.5; stroke-linecap:square; %7D %3C/style%3E%3C/defs%3E%3Cpattern id='zigzagPattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='zigzag' d='M 0 40 Q 20 40 40 40 Q 60 40 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%' height='100%' fill='url(%23zigzagPattern)'%3E%3C/rect%3E%3C/svg%3E");
  background-size: 80px 80px;
  background-position: 0px 50%;
}

.page-home nav .headline:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%' height='100%'%3E%3Cdefs%3E%3Cstyle%3E .zigzag%7B stroke:rgb(243,236,227); stroke-width:1.5; stroke-linecap:square; %7D %3C/style%3E%3C/defs%3E%3Cpattern id='zigzagPattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='zigzag' d='M 0 40 Q 20 40 40 40 Q 60 40 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%' height='100%' fill='url(%23zigzagPattern)'%3E%3C/rect%3E%3C/svg%3E");
}

.nav-item {
  z-index: 2;
}

.nav-item a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding: .25rem .75rem;
  margin-bottom: 3px;
  transition: color .25s ease-in-out 0s;
}

.nav-item a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background: oklch(var(--tidepool-oklch) / .25);
  border-radius: .5rem;
  z-index: -1;
  transform: scale(0.25, 1);
  opacity: 0;
}

.page-home .nav-item a:before {
  border: 1px solid hsl(var(--neon));
  background: none;
}

.nav-item a:hover:before {
  transform: scale(1, 1);
  opacity: 1;
  transition: all .25s ease-in-out 0s;
}

/* Footer */

.footer-image {
  height: clamp(100px, 40vh, 500px);
  background-image: linear-gradient(180deg, hsl(var(--mushroom)) 0%, hsl(var(--mushroom) / .65) 30%, transparent 65%),     linear-gradient(to top, hsl(var(--forest)) 0%, transparent 10%), url('../images/footer.jpg');
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

footer ul {margin: 0;}

.footer-extra {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 /* *********************************************************************
 * Components
 ********************************************************************* */

 ul.menu li {display: block;}

/* Cards */

.card {
  background-color: hsl(var(--mushroom));
  border: 1px solid hsl(var(--forest));
  border-radius: .5rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 3.5rem;
  border-top: 1px solid hsl(var(--forest));
  border-bottom: 1px solid hsl(var(--forest));
  margin-top: 2rem;
  background: hsl(var(--marmalade) / .25);
  text-decoration: none;
}

.card-icon {
  border: 1px solid hsl(var(--forest));
  border-left: 0;
  height: 3.5rem;
  margin: 0;
}

.card-title {
  margin: 0 1rem;
}

.card-body {
  padding: 2rem;
}

.card.scheme-dark {
  background: hsl(var(--forest));
  border: 1px solid hsl(var(--mushroom));
}

.card.scheme-dark .card-header {
  border-top: 1px solid hsl(var(--mushroom));
  border-bottom: 1px solid hsl(var(--mushroom));
}

.card-link {
  box-shadow: hsl(var(--neon)) 0px 0px 0px 1px, hsl(var(--neon) / .5) 0px 0px 0px 2px;
  background: linear-gradient(65deg, hsl(var(--mushroom) / .25), hsl(var(--honeydew) / .25) 25%, hsl(var(--neon) / .25) 51%, hsl(var(--neon) / .5) 75%, hsl(var(--neon) / .75)) 0 / 200%;
  transition: .5s ease-in-out;
}

.card-link:hover {
  background: linear-gradient(65deg, hsl(var(--mushroom) / .25), hsl(var(--honeydew) / .25) 25%, hsl(var(--neon) / .25) 51%, hsl(var(--neon) / .5) 75%, hsl(var(--neon) / .75)) 100% / 200%;
}

.card-link a {
  padding-top: 2rem;
  display: block;
  text-decoration: none;
}

.card-link .card-header {
  background: hsl(var(--mushroom));
}

.card-link .card-header {
  margin-top: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .feature .card.col-1-3 .card-body,
  .feature .card.col-2-3 .card-body,
  .feature .card.col-3-3 .card-body {
    padding: 2rem 1.5rem;
  }
}

/* Tiles */

.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(var(--mushroom));
  border: 1px solid hsl(var(--forest));
  border-radius: .5rem;
}

.tile-footer {
  display: flex;
  align-items: center;
  height: 3.5rem;
  border-top: 1px solid hsl(var(--forest));
  padding: 0 2rem;
  background: hsl(var(--marmalade) / .25);
}

.tile-body {
  padding: 2rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .feature .tile.col-1-3 .tile-body,
  .feature .tile.col-2-3 .tile-body,
  .feature .tile.col-3-3 .tile-body {
    padding: 2rem 1.5rem;
  }
}

 /* *********************************************************************
 * Color
 ********************************************************************* */

 .scheme-tidepool {
  background-color: oklch(var(--tidepool-oklch));
  color: hsl(var(--mushroom));
}

.scheme-tidepool a,
.scheme-tidepool .headline {
  color: hsl(var(--aqua));
}

.scheme-honeydew {
  background-color: hsl(var(--honeydew));
  color: hsl(var(--forest));
}

.scheme-honeydew a,
.scheme-honeydew .headline {
  color: oklch(var(--tidepool-oklch));
}

.scheme-aqua {
  background-color: hsl(var(--aqua));
  color: hsl(var(--forest));
}

.scheme-aqua a,
.scheme-aqua .headline {
  color: hsl(var(--forest));
}

.scheme-marmalade {
  background-color: oklch(var(--marmalade-oklch));
  color: oklch(var(--tidepool-oklch));
}

.scheme-marmalade a,
.scheme-marmalade .headline {
  color: oklch(var(--tidepool-oklch));
}

.scheme-forest {
  background-color: hsl(var(--forest));
  color: hsl(var(--mushroom));
}

.scheme-forest a,
.scheme-forest .headline {
  color: hsl(var(--mushroom));
}

.scheme-forest p a,
.scheme-forest li a {
  box-shadow: inset 0 -.1rem 0 0 oklch(var(--tidepool-oklch));
}

.scheme-forest p a:hover,
.scheme-forest li a:hover {
  box-shadow: inset 0 -.25rem 0 0 oklch(var(--tidepool-oklch));
}

.scheme-mushroom {
  background-color: hsl(var(--mushroom));
  color: hsl(var(--forest));
}

.scheme-mushroom .tile-img {
  box-shadow: hsl(var(--aqua)) 0px 0px 0px .25rem, hsl(var(--aqua) / .5) 0px 0px 0px .5rem;
}

.scheme-iris {
  background-color: hsl(var(--iris));
  color: hsl(var(--forest));
}

.scheme-iris a,
.scheme-iris .headline {
  color: hsl(var(--forest));
}

.scheme-iris .glow {
  text-wrap: balance;
  text-shadow: 1px 1px 1px  hsl(var(--iris) / .75),
    -1px -1px 1px  hsl(var(--iris) / .75),
    1px -1px 1px  hsl(var(--iris) / .75),
    -1px 1px 1px  hsl(var(--iris) / .75),
    2px 2px 2px  hsl(var(--iris) / .75),
    -2px -2px 2px  hsl(var(--iris) / .75),
    2px -2px 2px  hsl(var(--iris) / .75),
    -2px 2px 2px  hsl(var(--iris) / .75),
    3px 3px 3px  hsl(var(--iris) / .75),
    -3px -3px 3px  hsl(var(--iris) / .75),
    3px -3px 3px  hsl(var(--iris) / .75),
    -3px 3px 3px  hsl(var(--iris) / .75);
}


.scheme-iris p a,
.scheme-iris li a {
  box-shadow: inset 0 -.1rem 0 0 hsl(var(--iris-dark));
}

.scheme-iris p a:hover,
.scheme-iris li a:hover {
  box-shadow: inset 0 -.25rem 0 0 hsl(var(--iris-dark));
}

.scheme-coral {
  background-color: oklch(var(--coral-oklch));
  color: hsl(var(--forest));
}

.scheme-coral a,
.scheme-coral .headline {
  color: hsl(var(--forest));
}

.scheme-dark {
  color: hsl(var(--mushroom));
}

.scheme-dark a,
.scheme-dark .headline {
  color: hsl(var(--mushroom));
}

.scheme-dark .glow {
  text-shadow: 1px 1px 1px  hsl(var(--tidepool-dark) / .05),
    -1px -1px 1px  hsl(var(--tidepool-dark) / .05),
    1px -1px 1px  hsl(var(--tidepool-dark) / .05),
    -1px 1px 1px  hsl(var(--tidepool-dark) / .05),
    2px 2px 2px  hsl(var(--tidepool-dark) / .1),
    -2px -2px 2px  hsl(var(--tidepool-dark) / .1),
    2px -2px 2px  hsl(var(--tidepool-dark) / .1),
    -2px 2px 2px  hsl(var(--tidepool-dark) / .1),
    3px 3px 3px  hsl(var(--tidepool-dark) / .15),
    -3px -3px 3px  hsl(var(--tidepool-dark) / .15),
    3px -3px 3px  hsl(var(--tidepool-dark) / .15),
    -3px 3px 3px  hsl(var(--tidepool-dark) / .15);
}

.scheme-light {
  color: hsl(var(--forest));
}

.scheme-light a,
.scheme-light .headline {
  color: hsl(var(--forest));
}

 /* *********************************************************************
 * Typography
 ********************************************************************* */

 @font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/inria-sans-light.woff2) format('woff2');
}

@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/inria-sans-bold.woff2) format('woff2');
}

@font-face {
 font-family: 'Work Sans';
 font-style: normal;
 font-display: swap;
 font-weight: 500;
 src: url(../fonts/work-sans.woff2) format('woff2');
}

@font-face {
 font-family: 'Space Mono';
 font-style: normal;
 font-display: swap;
 font-weight: 400;
 src: url(../fonts/space-mono.woff2) format('woff2');
}

p:not(:first-child) {
  margin-top: calc(var(--height) / 2);
}

p:not(:last-child) {
  margin-bottom: calc(var(--height) / 2);
}

.page-default p:not(:first-child),
.page-default ul:not(:first-child) {
  margin-top: calc(var(--height) / 4);
}

.page-default p:not(:last-child),
.page-default ul:not(:last-child) {
  margin-bottom: calc(var(--height) / 4);
}

h1,
h2,
h3,
h4,
h5 {
  margin: calc(var(--height) / 2) 0;
  font-weight: 400;
  overflow-wrap: break-word;
  line-height: 1.1;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0;
}

.page-default h5 {
  margin: calc(var(--height) / 4) 0;
}

h2,
.headline {
  font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: var(--step--1);
  text-transform: uppercase;
  letter-spacing: clamp(0.025rem, .05vw + 0.025rem, 0.065rem);
}

h3,
.text-xl {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-2);
  font-family: 'Space Mono', monospace;
}

h5 {
  font-size: var(--step-1);
}

.text-mono {
  font-family: 'Space Mono', monospace;
  font-size: var(--step--2);
}

.headline-mono {
  font-family: 'Space Mono', monospace;
  font-size: var(--step-2);
}

.headline {
  margin-top: 0;
}

.page-home .col p {
  place-content: center;
}

.page-default {
 font-size: var(--step--1); 
}

/* Text links */

a {color: inherit;}

p a,
li a {
  text-decoration: none;
  box-shadow: inset 0 -.1rem 0 0 oklch(var(--marmalade-oklch));
  transition: .25s ease-in-out;
 }

p a:hover,
li a:hover {
  box-shadow: inset 0 -.25rem 0 0 oklch(var(--marmalade-oklch));
}

/* *********************************************************************
 * Media
 ********************************************************************* */

picture[class^="col"] {
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
}
picture[class^="col"] img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

picture[class^="col"] .img-vert {
  aspect-ratio: 1 / 1;
}

@media (min-width: 1024px) {
  picture[class^="col"] .img-vert {
    aspect-ratio: auto;
  }
}

.bg-img {
  background-size: cover;
  border-radius: 2vw;
  box-shadow: hsl(var(--marmalade)) 0px 0px 0px .25rem, hsl(var(--marmalade) / .5) 0px 0px 0px .5rem;
}

/* *********************************************************************
 * Miscellaneous
 ********************************************************************* */

.accent {
  position: absolute;
  top: 0;
}

.accent img {
  width: 40%;
  height: 40%;
  max-height: clamp(40vw, 200px, 25vw);
}

.accent-iso {
  right: 0;
}

.accent-iso img {
  margin: 0 0 0 auto;
}

.accent-uni {
  left: 0;
}

.accent-uni img {
  margin: 0 auto 0 0;
}

@media (max-width: 950px) {
  .accent img {
    max-height: calc(var(--p-3) - 1rem);
    width: auto;
  }
}

#sarah .background-container {
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: clamp(15rem, 25vw, 20rem);
}

#sarah .background-container .asterisk:hover {
  cursor: help;
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  background-image: linear-gradient(to bottom right, transparent 50%, oklch(var(--marmalade-oklch)) 50%);
  justify-content: center;
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
}

.slide-in.show {
  transform: translateX(0);
}

.slide-in.show:hover {cursor: e-resize;}

.slide-in-content {
  display: flex;
  width: 50vw;
  height: 50%;
  margin-left: 50vw;
  margin-right: var(--gap);
}

.slide-in-content p {
  text-wrap: balance;
  font-size: var(--step--6);
}

@media (min-width: 1024px) {
  .slide-in-content p {
    max-width: calc(100% - var(--gap) * 2);
  }
}

#hero {
  position: relative;
  cursor: cell;
}

#hero .stamp {
  position: absolute;
  grid-column: auto;
  grid-row: auto;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 1;
}

@media (min-width: 1024px) {
  #hero {
    font-size: clamp(1rem, 8vw, 10rem);
  }
}

[class^='hero-'] {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

[class^='hero-'] img,
[class^='hero-'] svg {
  object-fit: contain;
  max-width: 100%;
  width: auto;
  height: 100%;
}

[class^='hero-'] svg {
  display: block;
}

.hero-graphic3 {
  align-items: center;
  justify-content: center;
}

.hero-graphic3 span { 
  height: 1rem;
  width: 100%;
  border-radius: 1rem;
  opacity: 65%;
  background: linear-gradient(-65deg, hsl(var(--mushroom)), hsl(var(--iris)), hsl(var(--aqua)), hsl(var(--honeydew)), hsl(var(--marmalade)), hsl(var(--coral)));
  background-size: 600% 600%;
  animation: lilgradient 10s ease infinite;
  -webkit-animation: lilgradient 10s ease infinite;
}

@keyframes lilgradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.hero-web img {
  object-position: left center;
  height: 60%;
  align-self: center;
}

.hero-graphic4 {display: none;}

.hero-des img,
.hero-ign img {
  object-position: right center;
}

.hero-and img,
.hero-elopment img {
  object-position: center center;
}

.hero-dev img {
  object-position: right bottom;
}

@media (min-width: 1024px) {
  [class^='hero-'] {
    justify-content: unset;
  }

  .hero-web img {height: 90%;}

  .hero-graphic1 {margin: 0 auto;}

  .hero-graphic1 svg {
    width: 100%;
    margin: 0 auto;
  }

  .hero-graphic4 {display: block;}

  .hero-des,
  .hero-ign {
    justify-content: flex-end;
  }

  .hero-and {justify-content: center;}

  .hero-dev img {object-position: left center;}

  .hero-elopment img {object-position: left center;}

  .hero-graphic4 {margin: 0 0 0 auto;}
}

/* Draggable images */

.drag-container {
  position: absolute;
  width: 0;
  height: 0;
}

.drag-wrapper {
  position: relative;
  display: flex;
}

.drag-image {
  width: 100%;
  transform: scale(0.15) translate(0%, -260%);
}

.drag-image img {
  transition: transform .5s ease-in-out;
}

.drag-image:hover img {
  transform: scale(0.9);
}

.drag-1 {
  top: 0;
  left: 4vw;
}

.drag-2 {
  bottom: 130px;
  left: 60%;
}

@media (min-width: 577px) {
  .drag-image {transform: scale(0.25) translate(0%, -140%);}
  .drag-2 {bottom: 360px;}
}

@media (min-width: 768px) {
  .drag-2 {bottom: 180px;}
}

@media (min-width: 1024px) {
  .drag-image {transform: scale(0.3) translate(0%, -125%);}
}

@media (min-width: 1920px) {
  .drag-container {left: calc(50vw - 960px);}
  .drag-1 {left: calc(50vw - 960px);}
}

/* Wireframe */

.grid-breakout-portfolio-hero .wireframe,
.portfolio-hero {
  grid-column: 1 / -1;
}

.wireframe-scroll {
  overflow: auto;
  border: 1px solid hsl(var(--forest));
  border-radius: 0 0 .5rem .5rem;
  height: clamp(53vh, 18rem, 70rem);
}

.wireframe-scroll img {max-width: 100%;}

.wireframe-static {
  overflow: auto;
  border: 1px solid hsl(var(--forest));
  border-radius: 0 0 .5rem .5rem;
}

.wireframe-static img {max-width: 100%;}

.wireframe-16-9 {
  padding-bottom: 56.25%;
  max-height: 0;
  overflow: hidden;
}

.wireframe-nav {
  display: flex;
  justify-content: flex-start;
  border: 1px solid hsl(var(--forest));
  border-bottom: 0;
  border-radius: .5rem .5rem 0 0;
  background-color: hsl(var(--mushroom));
}

.wireframe-interactive:hover .wireframe-rectangle {
  background-color: hsl(var(--neon) / .75);
}

.wireframe-interactive:hover .wireframe-ellipse:nth-child(1) {
  background-color: hsl(var(--coral));
}

.wireframe-interactive:hover .wireframe-ellipse:nth-child(2) {
  background-color: hsl(var(--marmalade));
}

.wireframe-interactive:hover .wireframe-ellipse:nth-child(3) {
  background-color: hsl(var(--honeydew));
}

.wireframe-interactive:hover .wireframe-rectangle span:before {
  content: "↓ ";
  opacity: 1;
}

.wireframe-interactive:hover .wireframe-rectangle span:after {
  content: " ↓";
  opacity: 1;
}

.wireframe-rectangle span:before,
.wireframe-rectangle span:after {
  content: '';
  opacity: 0;
  transition: .5s ease-in-out;
}

.wireframe-nav > * {
  flex: 0 0 auto;
  margin-left: .5rem;
}

.wireframe-nav > *:not(:last-child) {
  flex-shrink: 0;
}

.wireframe-ellipses {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wireframe-ellipse {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid hsl(var(--forest));
  margin-right: .25rem;
  transition: .5s ease-in-out;
}

.wireframe-ellipse:last-child {
  margin-right: 0;
}

.wireframe-arrows > * {
  height: 0px;
  position: relative;
  width: 4px;
  background: hsl(var(--forest));
  margin: 6px;
  display: inline-block;
}

.wireframe-arrows > *:before,
.wireframe-arrows > *:after {
  content: " ";
  width: 1px;
  background: hsl(var(--forest));
  height: 7px;
  position: absolute;
  top: -5px;
}

.wireframe-arrows > *:before {
  transform: rotate(50deg);
  left: -1px;
}
.wireframe-arrows > *:after {
  transform: rotate(-50deg);
  right: -1px;
}

.wireframe-arrow-left {
  transform: rotate(-90deg);
}

.wireframe-arrow-right {
  transform: rotate(90deg);
}

.wireframe-search {
  flex: 1;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wireframe-rectangle {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  border: 1px solid hsl(var(--forest));
  border-radius: .125rem;
  margin-right: clamp(1rem, 10%, 56px);
  width: clamp(7rem, 50%, 20rem);
  background-color: hsl(var(--neon) / .25);
  transition: .5s ease-in-out;
}

.wireframe-rectangle span {
  font-size: var(--step--6);
  line-height: 0;
}

.wireframe-phone {
  padding: 4%;
  border: 1px solid hsl(var(--forest));
  border-radius: 2rem;
}

.wireframe-phone-outer {
  overflow: auto;
  border: 1px solid hsl(var(--forest));
  border-radius: 1.75rem;
  position: relative;
}

.wireframe-phone-inner {
  border-top: 2rem solid hsl(var(--neon) / .25);
  border-bottom: 2rem solid hsl(var(--neon) / .25);
}

.wireframe-phone-island {
  position: absolute;
  top: .25rem;
  left: 40%;
  width: 20%;
  height: 12px;
  background: hsl(var(--mushroom));
  border: 1px solid hsl(var(--forest));
  border-radius: 6px;
}

.wireframe-phone img {max-width: 100%;}

@media (min-width: 577px) {
  .wireframe-nav > * {
    margin-left: 1rem;
  }
}

@media (min-width: 768px) {
  .grid-breakout-portfolio-hero .wireframe {
    grid-column: 1 / span 4;
  }

  .portfolio-hero {
    grid-column: 6;
  }
}

/* Details */

.details-list {
  display: grid;
  grid-column-gap: calc(var(--gap) / 2);
  grid-template-columns: auto 1fr; 
  align-items: baseline;
}

.detail-item {
  display: contents; 
}

.detail-label {
  grid-column: 1;
}

.detail-value {
  grid-column: 2; 
}

/* Form */

.form-wrapper {display: none;}

.form {margin: -8px;}