body.blog {

  .articles {
    @media only screen and (min-width: $breakpoint-standard) {
      display: grid;
      grid-template-columns: 48% 48%;
      grid-gap: 0 4%;
    }
  }
}

// Pagination
.pagination {
  ul {display: flex;}
  li {padding: 0 5px;}
}

// Category Archive
body.category {
}