* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.entry-content,
.entry-content > *,
.wp-block-heading + .wp-block-heading  {
  margin-block-start: 0;
}

.picnicbasket-wordmark {
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: .065rem;
}

.picnicbasket-logomark img {
  transition: transform .5s ease-out;
}

.picnicbasket-header:hover .picnicbasket-logomark img {
  transform: rotate(180deg);
}

.picnicbasket-post-title-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.picnicbasket-hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0 3rem;
  align-items: center;
  grid-auto-flow: column;
  grid-template-areas:
    "hero-web hero-web hero-web hero-web hero-web hero-graphic1 hero-graphic1 hero-graphic1 hero-des hero-des hero-des hero-des"
    "hero-web hero-web hero-web hero-web hero-web hero-graphic1 hero-graphic1 hero-graphic1 hero-des hero-des hero-des hero-des"
    "hero-graphic2 hero-graphic2 hero-graphic2 hero-graphic2 hero-graphic2 . . . hero-ign hero-ign hero-ign hero-ign"
    "hero-graphic2 hero-graphic2 hero-graphic2 hero-graphic2 hero-graphic2 hero-and hero-and hero-and hero-ign hero-ign hero-ign hero-ign"
    "hero-dev hero-dev hero-dev hero-dev hero-dev hero-and hero-and hero-and hero-graphic3 hero-graphic3 hero-graphic3 hero-graphic3"
    "hero-dev hero-dev hero-dev hero-dev hero-dev . . . hero-graphic3 hero-graphic3 hero-graphic3 hero-graphic3"
    "hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-graphic4 hero-graphic4"
    "hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-graphic4 hero-graphic4";

  div[class^='hero'] {
    width: 100%;
    background-repeat: no-repeat;
    margin-block-start: 0;
  }
  
  .hero-web { 
    grid-area: hero-web; 
    background: url("../../uploads/hero-web.svg");
    background-position: bottom left;
    height: clamp(40px, 88%, 188px);
    background-size: contain;
  }
  
  .hero-des {
    grid-area: hero-des;
    background: url("../../uploads/hero-des.svg");
    background-position: bottom right;
    height: clamp(40px, 88%, 188px);
    background-size: contain;
  }
  
  .hero-ign {
    grid-area: hero-ign;
    background: url("../../uploads/hero-ign.svg");
    background-position: top right;
    height: clamp(40px, 88%, 188px);
    background-size: contain;
  }
  
  .hero-and {
    grid-area: hero-and;
    background: url("../../uploads/hero-and.svg");
    background-position: center center;
    height: clamp(40px, 88%, 188px);
    background-size: contain;
  }
  
  .hero-dev { 
    grid-area: hero-dev;
    background: url("../../uploads/hero-dev.svg");
    background-position: bottom left;
    height: clamp(40px, 88%, 188px);
    background-size: contain;
  }
  
  .hero-elopment { 
    grid-area: hero-elopment;
    background: url("../../uploads/hero-elopment.svg");
    background-position: top left;
    height: clamp(40px, 88%, 188px);
    background-size: contain;
  }
    
  .hero-graphic1 { 
    grid-area: hero-graphic1;
    height: auto;
    align-self: end;
  }
    
  .hero-graphic2 { 
    grid-area: hero-graphic2; 
  }
  
  .hero-graphic3 { 
    grid-area: hero-graphic3; 
    height: 2rem;
    border-radius: .75rem;
    opacity: 65%;
    background: linear-gradient(-65deg, #F3ECE3, #DCCCF0, #90EAE1, #C4EC94, #F5B380, #FF6E6E);
    background-size: 600% 600%;
    animation: lilgradient 12s ease infinite;
    -webkit-animation: lilgradient 12s ease infinite;
  }
  
  .hero-graphic4 { 
    grid-area: hero-graphic4;
    background-position: top right;
  }
}

@keyframes lilgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.picnicbasket-stamps {
  position: relative;
  min-height: 200px;
  cursor: cell;

  .stamp {
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
  }
}

@media (max-width: 334px) {
  .picnicbasket-header.wp-container-core-group-layout-2.wp-container-core-group-layout-2 {
    gap: 2px calc(2px + 2vw);
  }

  .picnicbasket-wordmark,
  .picnicbasket-logomark {
    white-space: nowrap;
    flex: 0 0 auto; 

    .wp-block-site-title {
      font-size: calc(5px + 3vw);
    }

    img {
      width: calc(5px + 4vw);
    }
  }
}

@media (max-width: 781px) {
  .crop-d {display: none;}

  .picnicbasket-columns {
    margin-bottom: 5rem;

    & > div:nth-child(1) {
      order: 2;
      & > *:first-child {
        margin-top: 3rem;
      }
    }
    & > div:nth-child(2) {
      order: 1;
    }
    & > div:nth-child(3) {
      order: 3;
      & > *:first-child {
        margin-top: 3rem;
      }
    }
  }
}

@media (min-width: 782px) {
  .crop-d {display: block;}
  .crop-e {display: none;}
}

@media (max-width: 565px) {  
  .picnicbasket-hero {
    gap: 0;
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas: 
    "hero-web hero-web hero-web hero-web hero-web hero-web . hero-graphic1 hero-graphic1 hero-graphic1 hero-graphic1 hero-graphic1"
    "hero-web hero-web hero-web hero-web hero-web hero-web . hero-graphic1 hero-graphic1 hero-graphic1 hero-graphic1 hero-graphic1"
    "hero-graphic2 hero-graphic2 hero-graphic2 hero-graphic2 hero-graphic2 hero-graphic2 hero-des hero-des hero-des hero-des hero-des hero-des"
    "hero-graphic2 hero-graphic2 hero-graphic2 hero-graphic2 hero-graphic2 hero-graphic2 hero-des hero-des hero-des hero-des hero-des hero-des"
    "hero-graphic2 hero-graphic2 hero-graphic2 hero-graphic2 hero-graphic2 hero-graphic2 hero-ign hero-ign hero-ign hero-ign hero-ign hero-ign"
    "hero-graphic4 hero-graphic4 . hero-and hero-and hero-and hero-ign hero-ign hero-ign hero-ign hero-ign hero-ign"
    "hero-graphic4 hero-graphic4 . hero-and hero-and hero-and . . . . . ."
    "hero-dev hero-dev hero-dev hero-dev hero-dev hero-dev . hero-graphic3 hero-graphic3 hero-graphic3 hero-graphic3 hero-graphic3"
    "hero-dev hero-dev hero-dev hero-dev hero-dev hero-dev . hero-graphic3 hero-graphic3 hero-graphic3 hero-graphic3 hero-graphic3"
    "hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment"
    "hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment hero-elopment"; 

    .hero-and {
      background-position: center right;
    }

    .hero-graphic1 {
      align-self: center;
    }
  
  }
}
