// Alignment
.has-text-align-center {
	text-align: center;
}

.has-text-align-left {
	text-align: left;
}

.has-text-align-right {
	text-align: right;
}

.wp-block-button,
.wp-block-buttons,
.wp-block-cover,
.wp-block-image ,
.wp-block-archives-list,
.wp-block-calendar,
.wp-block-pullquote,
.wp-block-video,
.wp-block-social-links,
.wp-block-tag-cloud,
.wp-block-search {

  &.alignleft {
    margin-right: 2em;
  }

}

.wp-block-button,
.wp-block-buttons,
.wp-block-cover,
.wp-block-image ,
.wp-block-archives-list,
.wp-block-calendar,
.wp-block-pullquote,
.wp-block-video,
.wp-block-social-links,
.wp-block-tag-cloud,
.wp-block-search {

  &.alignright {
    margin-left: 2em;
  }

}

.wp-block-image,
.wp-block-embed {

  &.alignwide,
  &.alignfull {
    margin-bottom: 30px;
  }

}

// Columns
.wp-block-columns {

  &.alignfull:not(.has-background) > .wp-block-column {

    & > p,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
     padding: 1.25em 2.375em;
   }

  }

}

// Group
.wp-block-group {

  &.alignfull > .wp-block-group__inner-container,
  &.has-background > .wp-block-group__inner-container {

    & > p,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
     padding: 1.25em 2.375em;
   }

  }

}

// Separator
.wp-block-separator {
	// reset
	border-top: 0;
	border-bottom: 2px solid currentColor;
	// styling

	&:not(.is-style-wide):not(.is-style-dots) {
		max-width: 200px;

		&.alignwide,
		&.alignfull {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

// Images
.wp-block-image figcaption {
	color: currentColor;
	font-weight: 700;
}

// Gallery
.wp-block-gallery .blocks-gallery-grid {
	margin-bottom: 0;
	padding-left: 0;
}

// Cover
.wp-block-cover {

	&.alignleft,
	&.alignright {
		width: 60%;
	}

	&.alignfull {
		width: auto;
	}

}

// Media & Text
.wp-block-media-text > .wp-block-media-text__media {
	margin-bottom: 30px;
}

// Paragraphs
p.has-background {
  padding: .5em;
}

// Headings
h1.has-background,
h2.has-background,
h3.has-background,
h4.has-background,
h5.has-background,
h6.has-background {
  padding: .5em;
}

// Lists
ul ol,
ol ul {
	margin-bottom: 0;
}

ol > li > ol > li {
	list-style-type: lower-alpha !important;
}

ol > li > ol > li > ol > li {
	list-style-type: lower-roman !important;
}

// Custom list styles
ul.ui-tabs-nav {
	margin-bottom: 0;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	li {
		list-style-type: none;
		padding: 1rem;

		h5 {
			margin-bottom: 0;
		}

		a {
			color: inherit;
		}
	}
}

// Pullquote
.wp-block-pullquote {

	&:not(.is-style-solid-color) {
		border-top: 4px solid #555;
		border-bottom: 4px solid #555;
	}

}

// Tables
.wp-block-table.is-style-stripes {
	border-bottom: 0;
}

// Calendar
.wp-block-calendar {

	&.alignfull {
		padding-left: 15px;
		padding-right: 15px;
	}

	table {
		margin-bottom: 15px;
	}

}

// Categories
.wp-block-categories-list {
	padding-left: 0 !important;

	&:not(.alignwide):not(.alignfull):not(.alignright) {
		margin-left: 0;
	}

	&.alignfull {
		padding-left: 15px !important;
		padding-right: 15px;
	}

	li {
		list-style-type: none !important;
	}

}

// Latest Comments
.wp-block-latest-comments {
	padding-left: 0 !important;

	&.alignfull {
		padding-left: 15px !important;
		padding-right: 15px;
	}

}

// Latest Posts
.wp-block-latest-posts {
	padding-left: 0 !important;

	&.alignfull {
		padding-left: 15px !important;
		padding-right: 15px;
	}

	&.aligncenter {
		text-align: center;
	}

	li {
		list-style-type: none !important;
		margin-bottom: 30px;
	}

}

// Social Icons
.wp-block-social-links {
	padding-left: 0 !important;
}

// Tag Cloud
.wp-block-tag-cloud.alignfull {
	padding-left: 15px;
	padding-right: 15px;
}


@media only screen and (min-width: $breakpoint-standard) {

	.wp-block-media-text > .wp-block-media-text__media {
		margin-bottom: 0;
	}

}

// Columns
@media only screen and (max-width: $breakpoint-gutenberg) {
	.wp-block-columns {
		.wp-block-column {
			&:not(:last-child) {margin-bottom: 60px;}
		}
	}
}